/*Fonts*/
/*Fonts*/
* {
  box-sizing: border-box; }

.button-container {
  width: 200px;
  height: 50px;
  margin: 0 30px 0 0;
  position: relative;
  z-index: 100;
  cursor: pointer;
  /*background-color: aqua;*/
  /*border: 1px solid black;
  overflow: hidden;*/
  /*border-radius: 25px;
  border: 1px solid black;
  overflow: hidden;*/ }

.gradient-container {
  width: 200px;
  height: 50px;
  position: relative;
  border-radius: 25px;
  overflow: hidden; }

.loki-background-gradient {
  width: 400px;
  height: 400px;
  background: linear-gradient(90deg, #054205 0%, #09792d 45%, rgba(11, 65, 16, 0.0498075513) 100%);
  animation-name: test;
  animation-duration: 3s; }

.background-photo {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
  background-image: url("/assets/backgrounds-btn/Loki_Vol_3_1_Textless.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.7; }

.text-box {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  padding: 0 0 0 23px;
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-align: left; }

.loki-img-container {
  position: absolute;
  top: -30px;
  right: -22px;
  width: 100px;
  height: 100px; }

.loki-img {
  width: 100%;
  height: 100%; }

.button-container {
  width: 200px;
  height: 50px;
  margin: 0 30px 0 0;
  position: relative;
  cursor: pointer;
  /*background-color: aqua;*/
  /*border: 1px solid black;
  overflow: hidden;*/
  /*border-radius: 25px;
  border: 1px solid black;
  overflow: hidden;*/ }

.gradient-container {
  width: 200px;
  height: 50px;
  position: relative;
  border-radius: 25px;
  overflow: hidden; }

.spiderman-background-gradient {
  width: 400px;
  height: 400px;
  background: linear-gradient(90deg, #074a9d 10%, #167291 49%, rgba(0, 212, 255, 0.4251741202) 100%);
  animation-name: test;
  animation-duration: 3s; }

.spiderman-background-photo {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
  background-image: url("/assets/backgrounds-btn/spiderman-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.7; }

.text-box {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  padding: 0 0 0 23px;
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  color: white;
  text-align: left; }

.spiderman-img-container {
  position: absolute;
  top: -30px;
  right: -22px;
  width: 80px;
  height: 80px; }

.spiderman-img {
  width: 100%;
  height: 100%; }

.button-container {
  width: 200px;
  height: 50px;
  margin: 0 30px 0 0;
  position: relative;
  cursor: pointer;
  /*background-color: aqua;*/
  /*border: 1px solid black;
  overflow: hidden;*/
  /*border-radius: 25px;
  border: 1px solid black;
  overflow: hidden;*/ }

.gradient-container {
  width: 200px;
  height: 50px;
  position: relative;
  border-radius: 25px;
  overflow: hidden; }

.ironman-background-gradient {
  width: 400px;
  height: 400px;
  background: linear-gradient(90deg, #c61313 10%, #c20926 47%, rgba(255, 103, 0, 0.4251741202) 100%);
  animation-name: test;
  animation-duration: 3s; }

.ironman-background-photo {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
  background-image: url("/assets/backgrounds-btn/ironman-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.7; }

.text-box {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  padding: 0 0 0 23px;
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  color: white;
  text-align: left; }

.ironman-img-container {
  position: absolute;
  top: -30px;
  right: -22px;
  width: 80px;
  height: 80px; }

.ironman-img {
  width: 100%;
  height: 100%; }

.main {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 600px;
  min-width: 320px;
  background-color: #01010e; }

.categories-section {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 50px 0 0 0;
  z-index: -2; }

.section-category-movie {
  width: 100%;
  height: 300px;
  padding: 0 40px; }
  .section-category-movie .category-movie-btn {
    width: 100%;
    height: 70px;
    padding: 10px;
    display: flex;
    justify-content: start;
    align-items: center; }

html {
  font-size: 62.5%; }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

.header {
  width: 100%;
  height: 400px;
  min-width: 320px;
  min-height: 400px;
  background-color: antiquewhite; }
  .header .header__menu {
    width: 100%;
    height: 16vh;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    min-width: 320px;
    position: absolute;
    z-index: 10; }
  .header .slider-section {
    width: 100%;
    position: relative; }

.superHero-slider-container {
  width: 100%;
  height: 400px;
  min-width: 320px;
  min-height: 400px;
  overflow-x: hidden;
  overflow-y: hidden; }
  .superHero-slider-container .track-slider {
    width: 100%;
    height: 100%;
    display: flex; }
    .superHero-slider-container .track-slider .slide-img-container {
      height: 400px;
      min-width: 320px;
      min-height: 400px; }
      .superHero-slider-container .track-slider .slide-img-container img {
        width: 100%;
        height: 100%;
        object-fit: cover; }

.frontDiv {
  width: 100%;
  height: 100%;
  /*Modelo 1*/
  background: #01010e;
  background: linear-gradient(0deg, #01010e 13%, rgba(192, 192, 224, 0.0762005132) 58%, #010409 98%);
  position: absolute; }

.slider-section {
  display: flex;
  cursor: pointer;
  justify-content: flex-start; }
  .slider-section .slider-title-container {
    opacity: 0;
    position: absolute;
    bottom: 0;
    z-index: 40;
    font-size: 1.8rem;
    font-family: "Poppins", sans-serif;
    color: white;
    margin: 0 0 20px 20px; }
  .slider-section .slider-title-container:hover {
    color: #e1e5f5;
    opacity: 1;
    transition: opacity 1s; }

.search-bar-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 400px;
  height: 100px; }
  .search-bar-container .search-bar {
    width: 90%;
    height: 40px;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    opacity: 0.5; }
    .search-bar-container .search-bar .search-bar-lupa {
      width: 10%;
      text-align: center;
      padding: 0 0 0 10px;
      color: #8a8888; }
    .search-bar-container .search-bar .search-bar__input {
      width: 80%;
      height: 100%;
      padding: 20px 12px;
      border: none;
      outline: none;
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      opacity: 0.8; }
    .search-bar-container .search-bar .search-bar__input:hover {
      opacity: 1;
      transition: opacity 0.7s; }
  .search-bar-container .search-button-container {
    display: flex;
    width: 80%;
    justify-content: space-between; }
    .search-bar-container .search-button-container .search__button {
      width: 120px;
      height: 40px;
      opacity: 0.8;
      margin: 0 20px 0;
      border-radius: 20px;
      border: none;
      font-weight: 700;
      font-family: "Montserrat", sans-serif; }

.test-radient {
  display: none;
  width: 100%;
  height: 200px;
  background: #e1e5f5;
  background: radial-gradient(circle, #e1e5f5 9%, #cc3051 21%, #3e393a 87%); }

/*# sourceMappingURL=index.css.map */
